@import url('https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,800,900|Open+Sans:300,400,600,700,800|Roboto+Condensed:300,400,700');

body {
	font-family: 'Montserrat', sans-serif;
}

.slide-title {
	width: 460px;
	max-height: 48px;
	margin-bottom: 0;
	color: #fff;
	font-family: 'Montserrat', sans-serif;
	font-size: 18px;
	font-weight: 600;
	line-height: 24px;
	text-align: left;
}

.about-title {
	color: #1e2c38;
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
	font-size: 52px;
	line-height: 54px;
	text-align: left;
	text-transform: uppercase;
}

.about-text {
	color: #1e2c38;
	font-size: 18px;
	font-weight: 400;
	line-height: 28px;
}

.section-headline {
	max-width: 790px;
	margin: 0 74px 40px;
}

.section-title {
	position: relative;
	margin-bottom: 27px;
	color: #424b53;
	font-size: 13px;
	font-weight: 400;
	letter-spacing: -.025em;
	text-transform: uppercase;
	
	&:before {
		content: '';
		position: absolute;
		top: 7px;
		left: -74px;
		display: inline-block;
		width: 60px;
		height: 1px;
		background-color: #424b53;
	}
}

.section-subtitle {
	color: #1e2c38;
	font-size: 32px;
	font-weight: 700;
	line-height: 36px;
}
